# -*- coding: utf-8 -*-
# ----------------------- #
#      Main Configs       #
# ----------------------- #

url: http://k-ui.jp
title: "電卓片手に"
subtitle: "体がゲームと漫画と音楽とコンピューターでできていて欲しい"
author: "Keiichiro Ui"
simple_search: http://google.com/search
description:

# Default date format is "ordinal" (resulting in "July 22nd 2007")
# You can customize the format as defined in
# http://www.ruby-doc.org/core-1.9.2/Time.html#method-i-strftime
date_format: "%Y年 %m月 %d日"
# Additionally, %o will give you the ordinal representation of the day
# date_format: "ordinal"

# RSS / Email (optional) subscription links (change if using something like Feedburner)
subscribe_rss: /atom.xml
subscribe_email:
# RSS feeds can list your email address if you like
email:

# ----------------------- #
#    Jekyll & Plugins     #
# ----------------------- #

# If publishing to a subdirectory as in http://site.com/project set 'root: /project'
root: /
permalink: /blog/:year/:month/:day/:title/
source: source
destination: public
plugins: plugins
code_dir: downloads/code
category_dir: blog/categories
markdown: rdiscount
pygments: false # default python pygments have been replaced by pygments.rb

paginate: 5          # Posts per page on the blog index
pagination_dir: blog  # Directory base for pagination URLs eg. /blog/page/2/
recent_posts: 5       # Posts in the sidebar Recent Posts section
excerpt_link: "つづき"  # "Continue reading" link text at the bottom of excerpted articles

titlecase: true       # Converts page and post titles to titlecase

# list each of the sidebar modules you want to include, in the order you want them to appear.
# To add custom asides, create files in /source/_includes/custom/asides/ and add them to the list like 'custom/asides/custom_aside_name.html'
default_asides: [asides/twitter.html, asides/github.html, asides/tumblr.html, asides/tumblr_photos.html, asides/delicious.html, asides/pinboard.html, asides/googleplus.html]

# Each layout uses the default asides, but they can have their own asides instead. Simply uncomment the lines below
# and add an array with the asides you want to use.
blog_index_asides: [asides/twitter.html, asides/github.html, asides/tumblr_photos.html]
# post_asides:
# page_asides:

# ----------------------- #
#   3rd Party Settings    #
# ----------------------- #

sharing: false

# Github repositories
github_user: kui
github_repo_count: 4
github_show_profile_link: false
github_skip_forks: true
# github api v3 params
# see http://developer.github.com/v3/repos/#list-user-repositories
github_type: all
github_sort: updated
github_direction: desc

# Twitter
twitter_user: k_ui
twitter_tweet_count: 7
twitter_show_replies: false
twitter_follow_button: false
twitter_show_follower_count: false
twitter_tweet_button: false

# Tumblr
tumblr_user: daftbeats
tumblr_post_num: 10

# Google +1
google_plus_one: false
google_plus_one_size: medium

# Google Plus Profile
# Hidden: No visible button, just add author information to search results
googleplus_user:
googleplus_hidden: false

# Pinboard
pinboard_user:
pinboard_count: 3

# Delicious
delicious_user:
delicious_count: 3

# Disqus Comments
disqus_short_name: den-taku-katate-ni
disqus_show_comment_count: false

# Google Analytics
google_analytics_tracking_id:

# Facebook Like
facebook_like: false

# Social Service Links
social_service_links: true
