{% if site.social_service_links %}
<div id="social-links">
  <ul>
    <li id="social-links-github">
      <a title="GitHub" href="https://github.com/kui">github</a>
    </li>
    <li id="social-links-twitter">
      <a title="twitter" href="http://twitter.com/k_ui">twitter</a>
    </li>
    <li id="social-links-tumblr">
      <a title="tumblr" href="http://daftbeats.tumblr.com/">tumblr</a>
    </li>
    <li id="social-links-feed">
      <a title="feed" href="http://k-ui.jp/atom.xml">feed</a>
    </li>
  </ul>
</div>
{% endif %}
